<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
  <h1>Current bounties: <%= results.length %></h1>
<h3>Bike Bounty Results:</h3>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.bike_id %> - <%= r.name %></li>
    <% }); %>
</ul>

</div>

</body>
</html>
